.input_otp{
    border-bottom: '1px solid black';
    border-left: 0px none white;
    border-right: 0px none white;
    border-top: 0px none white;
    height: 55px;
    width: 40px;
    border-radius: 10px;
    background-color:rgb(249, 240, 228);
    margin-right: 10px;
}



.Enter_OTP{
    font-family:'Times New Roman', Times, serif;
    margin-left: 35px;
    width:90%;
    background: linear-gradient(to bottom right , rgb(204, 252, 244), rgb(186, 180, 180), rgb(249, 209, 215), rgb(251, 198, 198));
}

h3{
    color:  black;
}

.text-decoration-none{
    color: rgb(11, 10, 10);
}